go 1.26.3

use (
	.
	./api_access_model_metadata
	./api_access_profiles
	./api_access_request_approvals
	./api_access_request_identity_metrics
	./api_access_requests
	./api_account_activities
	./api_account_aggregations
	./api_account_deletion_requests
	./api_account_usages
	./api_accounts
	./api_api_usage
	./api_application_discovery
	./api_approvals
	./api_apps
	./api_auth_profile
	./api_auth_users
	./api_branding
	./api_certification_campaign_filters
	./api_certification_campaigns
	./api_certification_summaries
	./api_certifications
	./api_classify_source
	./api_configuration_hub
	./api_connector_customizers
	./api_connector_rule_management
	./api_connectors
	./api_custom_forms
	./api_custom_password_instructions
	./api_custom_user_levels
	./api_data_access_security
	./api_data_segmentation
	./api_declassify_source
	./api_dimensions
	./api_entitlements
	./api_generic
	./api_global_tenant_security_settings
	./api_governance_groups
	./api_iai_access_request_recommendations
	./api_iai_common_access
	./api_iai_outliers
	./api_iai_peer_group_strategies
	./api_iai_recommendations
	./api_iai_role_mining
	./api_icons
	./api_identities
	./api_identity_attributes
	./api_identity_history
	./api_identity_profiles
	./api_intelligence_package
	./api_jit_access
	./api_jit_activations
	./api_launchers
	./api_lifecycle_states
	./api_machine_account_classify
	./api_machine_account_creation_request
	./api_machine_account_mappings
	./api_machine_account_subtypes
	./api_machine_accounts
	./api_machine_classification_config
	./api_machine_identities
	./api_managed_clients
	./api_managed_cluster_types
	./api_managed_clusters
	./api_mfa_configuration
	./api_multi_host_integration
	./api_nerm
	./api_nerm_v2025
	./api_non_employee_lifecycle_management
	./api_notifications
	./api_oauth_clients
	./api_org_config
	./api_parameter_storage
	./api_password_configuration
	./api_password_dictionary
	./api_password_management
	./api_password_policies
	./api_password_sync_groups
	./api_personal_access_tokens
	./api_privilege_criteria
	./api_privilege_criteria_configuration
	./api_prompt_insights
	./api_public_identities
	./api_public_identities_config
	./api_reports_data_extraction
	./api_requestable_objects
	./api_role_insights
	./api_role_propagation
	./api_roles
	./api_saved_search
	./api_scheduled_search
	./api_search
	./api_search_attribute_configuration
	./api_segments
	./api_service_desk_integration
	./api_shared_signals_framework_ssf
	./api_sim_integrations
	./api_sod_policies
	./api_sod_violations
	./api_source_usages
	./api_sources
	./api_sp_config
	./api_suggested_entitlement_description
	./api_tagged_objects
	./api_tags
	./api_task_management
	./api_tenant
	./api_tenant_context
	./api_transforms
	./api_triggers
	./api_ui_metadata
	./api_work_items
	./api_work_reassignment
	./api_workflows
)
