go 1.26.3

use (
	.
	./access_model_metadata
	./access_profiles
	./access_request_approvals
	./access_request_identity_metrics
	./access_requests
	./account_activities
	./account_aggregations
	./account_deletion_requests
	./account_usages
	./accounts
	./api_usage
	./application_discovery
	./approvals
	./apps
	./auth_profile
	./auth_users
	./branding
	./certification_campaign_filters
	./certification_campaigns
	./certification_summaries
	./certifications
	./classify_source
	./configuration_hub
	./connector_customizers
	./connector_rule_management
	./connectors
	./custom_forms
	./custom_password_instructions
	./custom_user_levels
	./data_access_security
	./data_segmentation
	./declassify_source
	./dimensions
	./entitlement_connections
	./entitlements
	./generic
	./global_tenant_security_settings
	./governance_groups
	./iai_access_request_recommendations
	./iai_common_access
	./iai_outliers
	./iai_peer_group_strategies
	./iai_recommendations
	./iai_role_mining
	./icons
	./identities
	./identity_attributes
	./identity_history
	./identity_profiles
	./jit_access
	./jit_activations
	./launchers
	./lifecycle_states
	./machine_account_classify
	./machine_account_creation_request
	./machine_account_mappings
	./machine_account_subtypes
	./machine_accounts
	./machine_classification_config
	./machine_identities
	./managed_clients
	./managed_cluster_types
	./managed_clusters
	./mfa_configuration
	./multi_host_integration
	./nerm
	./nerm_v2025
	./non_employee_lifecycle_management
	./notifications
	./oauth_clients
	./org_config
	./parameter_storage
	./password_configuration
	./password_dictionary
	./password_management
	./password_policies
	./password_sync_groups
	./personal_access_tokens
	./privilege_criteria
	./privilege_criteria_configuration
	./prompt_insights
	./public_identities
	./public_identities_config
	./reports_data_extraction
	./requestable_objects
	./role_insights
	./role_propagation
	./roles
	./saved_search
	./scheduled_search
	./search
	./search_attribute_configuration
	./segments
	./service_desk_integration
	./shared_signals_framework_ssf
	./sim_integrations
	./sod_policies
	./sod_violations
	./source_usages
	./sources
	./sp_config
	./suggested_entitlement_description
	./tagged_objects
	./tags
	./task_management
	./tenant
	./tenant_context
	./transforms
	./triggers
	./ui_metadata
	./work_items
	./work_reassignment
	./workflows
)
