go 1.26.3

use (
	.
	./api_access_model_metadata_v1
	./api_access_profiles_v1
	./api_access_request_approvals_v1
	./api_access_request_identity_metrics_v1
	./api_access_requests_v1
	./api_account_activities_v1
	./api_account_aggregations_v1
	./api_account_deletion_requests_v1
	./api_account_usages_v1
	./api_accounts_v1
	./api_api_usage_v1
	./api_application_discovery_v1
	./api_approvals_v1
	./api_apps_v1
	./api_auth_profile_v1
	./api_auth_users_v1
	./api_branding_v1
	./api_certification_campaign_filters_v1
	./api_certification_campaigns_v1
	./api_certification_summaries_v1
	./api_certifications_v1
	./api_classify_source_v1
	./api_configuration_hub_v1
	./api_connector_customizers_v1
	./api_connector_rule_management_v1
	./api_connectors_v1
	./api_custom_forms_v1
	./api_custom_password_instructions_v1
	./api_custom_user_levels_v1
	./api_data_access_security_v1
	./api_data_segmentation_v1
	./api_declassify_source_v1
	./api_dimensions_v1
	./api_entitlements_v1
	./api_generic
	./api_global_tenant_security_settings_v1
	./api_governance_groups_v1
	./api_iai_access_request_recommendations_v1
	./api_iai_common_access_v1
	./api_iai_outliers_v1
	./api_iai_peer_group_strategies_v1
	./api_iai_recommendations_v1
	./api_iai_role_mining_v1
	./api_icons_v1
	./api_identities_v1
	./api_identity_attributes_v1
	./api_identity_history_v1
	./api_identity_profiles_v1
	./api_intelligence_package_v1
	./api_jit_access_v1
	./api_jit_activations_v1
	./api_launchers_v1
	./api_lifecycle_states_v1
	./api_machine_account_classify_v1
	./api_machine_account_creation_request_v1
	./api_machine_account_mappings_v1
	./api_machine_account_subtypes_v1
	./api_machine_accounts_v1
	./api_machine_classification_config_v1
	./api_machine_identities_v1
	./api_managed_clients_v1
	./api_managed_cluster_types_v1
	./api_managed_clusters_v1
	./api_mfa_configuration_v1
	./api_multi_host_integration_v1
	./api_nerm
	./api_nerm_v2025
	./api_non_employee_lifecycle_management_v1
	./api_notifications_v1
	./api_oauth_clients_v1
	./api_org_config_v1
	./api_parameter_storage_v1
	./api_password_configuration_v1
	./api_password_dictionary_v1
	./api_password_management_v1
	./api_password_policies_v1
	./api_password_sync_groups_v1
	./api_personal_access_tokens_v1
	./api_privilege_criteria_configuration_v1
	./api_privilege_criteria_v1
	./api_public_identities_config_v1
	./api_public_identities_v1
	./api_reports_data_extraction_v1
	./api_requestable_objects_v1
	./api_role_insights_v1
	./api_role_propagation_v1
	./api_roles_v1
	./api_saved_search_v1
	./api_scheduled_search_v1
	./api_search_attribute_configuration_v1
	./api_search_v1
	./api_segments_v1
	./api_service_desk_integration_v1
	./api_shared_signals_framework_ssf_v1
	./api_sim_integrations_v1
	./api_sod_policies_v1
	./api_sod_violations_v1
	./api_source_usages_v1
	./api_sources_v1
	./api_sp_config_v1
	./api_suggested_entitlement_description_v1
	./api_tagged_objects_v1
	./api_tags_v1
	./api_task_management_v1
	./api_tenant_context_v1
	./api_tenant_v1
	./api_transforms_v1
	./api_triggers_v1
	./api_ui_metadata_v1
	./api_work_items_v1
	./api_work_reassignment_v1
	./api_workflows_v1
	./examples
)
