/*
NERM API

The NERM API accesss and modifies resources in your environment.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api_nerm

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SyncedAttributesAPIService SyncedAttributesAPI service
type SyncedAttributesAPIService service

type ApiCreateSyncedAttributeRequest struct {
	ctx context.Context
	ApiService *SyncedAttributesAPIService
	syncedAttribute1 *SyncedAttribute1
}

func (r ApiCreateSyncedAttributeRequest) SyncedAttribute1(syncedAttribute1 SyncedAttribute1) ApiCreateSyncedAttributeRequest {
	r.syncedAttribute1 = &syncedAttribute1
	return r
}

func (r ApiCreateSyncedAttributeRequest) Execute() (*CreateSyncedAttribute201Response, *http.Response, error) {
	return r.ApiService.CreateSyncedAttributeExecute(r)
}

/*
CreateSyncedAttribute Create a synced attribute

Create synced attribute

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateSyncedAttributeRequest
*/
func (a *SyncedAttributesAPIService) CreateSyncedAttribute(ctx context.Context) ApiCreateSyncedAttributeRequest {
	return ApiCreateSyncedAttributeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateSyncedAttribute201Response
func (a *SyncedAttributesAPIService) CreateSyncedAttributeExecute(r ApiCreateSyncedAttributeRequest) (*CreateSyncedAttribute201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateSyncedAttribute201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SyncedAttributesAPIService.CreateSyncedAttribute")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/profile_types/{profile_type_id}/synced_attributes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.syncedAttribute1 == nil {
		return localVarReturnValue, nil, reportError("syncedAttribute1 is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.syncedAttribute1
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetAttributes400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetAttributes500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteSyncedAttributeRequest struct {
	ctx context.Context
	ApiService *SyncedAttributesAPIService
	profileTypeId *string
	neAttributeId *string
}

// Profile Type ID for filtering
func (r ApiDeleteSyncedAttributeRequest) ProfileTypeId(profileTypeId string) ApiDeleteSyncedAttributeRequest {
	r.profileTypeId = &profileTypeId
	return r
}

// ID of an attribute for filtering
func (r ApiDeleteSyncedAttributeRequest) NeAttributeId(neAttributeId string) ApiDeleteSyncedAttributeRequest {
	r.neAttributeId = &neAttributeId
	return r
}

func (r ApiDeleteSyncedAttributeRequest) Execute() (*DeleteProfileTypeById200Response, *http.Response, error) {
	return r.ApiService.DeleteSyncedAttributeExecute(r)
}

/*
DeleteSyncedAttribute Delete synced attribute

Delete a synced attribute.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteSyncedAttributeRequest
*/
func (a *SyncedAttributesAPIService) DeleteSyncedAttribute(ctx context.Context) ApiDeleteSyncedAttributeRequest {
	return ApiDeleteSyncedAttributeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DeleteProfileTypeById200Response
func (a *SyncedAttributesAPIService) DeleteSyncedAttributeExecute(r ApiDeleteSyncedAttributeRequest) (*DeleteProfileTypeById200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteProfileTypeById200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SyncedAttributesAPIService.DeleteSyncedAttribute")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/profile_types/{profile_type_id}/synced_attributes/{ne_attribute_id}"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.profileTypeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profile_type_id", r.profileTypeId, "", "")
	}
	if r.neAttributeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ne_attribute_id", r.neAttributeId, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetAttributes400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetAttributes500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProfileTypeAttributesRequest struct {
	ctx context.Context
	ApiService *SyncedAttributesAPIService
	profileTypeId *string
	activeFilter *string
	search *string
	page *int32
	sort *GetProfileTypeAttributesSortParameter
}

// Profile Type ID for filtering
func (r ApiGetProfileTypeAttributesRequest) ProfileTypeId(profileTypeId string) ApiGetProfileTypeAttributesRequest {
	r.profileTypeId = &profileTypeId
	return r
}

// Filter for profile type synced attributes
func (r ApiGetProfileTypeAttributesRequest) ActiveFilter(activeFilter string) ApiGetProfileTypeAttributesRequest {
	r.activeFilter = &activeFilter
	return r
}

// Filter by string
func (r ApiGetProfileTypeAttributesRequest) Search(search string) ApiGetProfileTypeAttributesRequest {
	r.search = &search
	return r
}

// Pagination items per page
func (r ApiGetProfileTypeAttributesRequest) Page(page int32) ApiGetProfileTypeAttributesRequest {
	r.page = &page
	return r
}

// How records should be sorted
func (r ApiGetProfileTypeAttributesRequest) Sort(sort GetProfileTypeAttributesSortParameter) ApiGetProfileTypeAttributesRequest {
	r.sort = &sort
	return r
}

func (r ApiGetProfileTypeAttributesRequest) Execute() (*GetProfileTypeAttributes200Response, *http.Response, error) {
	return r.ApiService.GetProfileTypeAttributesExecute(r)
}

/*
GetProfileTypeAttributes profile_types/ne_attributes synced status

Get ne attributes and synced attribute relationship to profile type.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetProfileTypeAttributesRequest
*/
func (a *SyncedAttributesAPIService) GetProfileTypeAttributes(ctx context.Context) ApiGetProfileTypeAttributesRequest {
	return ApiGetProfileTypeAttributesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetProfileTypeAttributes200Response
func (a *SyncedAttributesAPIService) GetProfileTypeAttributesExecute(r ApiGetProfileTypeAttributesRequest) (*GetProfileTypeAttributes200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetProfileTypeAttributes200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SyncedAttributesAPIService.GetProfileTypeAttributes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/profile_types/{profile_type_id}/ne_attributes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.profileTypeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "profile_type_id", r.profileTypeId, "", "")
	}
	if r.activeFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active_filter", r.activeFilter, "", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetAttributes400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetAttributes500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
