/*
NERM API

The NERM API accesss and modifies resources in your environment.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api_nerm

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// RiskScoresAPIService RiskScoresAPI service
type RiskScoresAPIService service

type ApiGetRiskScoreRequest struct {
	ctx context.Context
	ApiService *RiskScoresAPIService
	id string
}

func (r ApiGetRiskScoreRequest) Execute() (*GetRiskScore200Response, *http.Response, error) {
	return r.ApiService.GetRiskScoreExecute(r)
}

/*
GetRiskScore Find risk score data

Find risk score data by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id ID of the object to retrieve, update, or delete
 @return ApiGetRiskScoreRequest
*/
func (a *RiskScoresAPIService) GetRiskScore(ctx context.Context, id string) ApiGetRiskScoreRequest {
	return ApiGetRiskScoreRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GetRiskScore200Response
func (a *RiskScoresAPIService) GetRiskScoreExecute(r ApiGetRiskScoreRequest) (*GetRiskScore200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetRiskScore200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskScoresAPIService.GetRiskScore")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/risk_scores/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetAttributes400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetAttributes500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRiskScoresRequest struct {
	ctx context.Context
	ApiService *RiskScoresAPIService
	limit *int32
	offset *int32
	order *string
	objectId *string
	objectType *string
	overallRiskLevelId *string
	impactRiskLevelId *string
	probabilityRiskLevelId *string
	metadata *bool
}

// The maximum number of items to return.
func (r ApiGetRiskScoresRequest) Limit(limit int32) ApiGetRiskScoresRequest {
	r.limit = &limit
	return r
}

// The number of items to skip before starting to collect the result set.
func (r ApiGetRiskScoresRequest) Offset(offset int32) ApiGetRiskScoresRequest {
	r.offset = &offset
	return r
}

// The field to order results by.
func (r ApiGetRiskScoresRequest) Order(order string) ApiGetRiskScoresRequest {
	r.order = &order
	return r
}

// ID of an object for filtering. Used along with object_type
func (r ApiGetRiskScoresRequest) ObjectId(objectId string) ApiGetRiskScoresRequest {
	r.objectId = &objectId
	return r
}

// Type of object that object_id represents
func (r ApiGetRiskScoresRequest) ObjectType(objectType string) ApiGetRiskScoresRequest {
	r.objectType = &objectType
	return r
}

// Overall risk level to filter by
func (r ApiGetRiskScoresRequest) OverallRiskLevelId(overallRiskLevelId string) ApiGetRiskScoresRequest {
	r.overallRiskLevelId = &overallRiskLevelId
	return r
}

// Impact risk level to filter by
func (r ApiGetRiskScoresRequest) ImpactRiskLevelId(impactRiskLevelId string) ApiGetRiskScoresRequest {
	r.impactRiskLevelId = &impactRiskLevelId
	return r
}

// Probability risk level to filter by
func (r ApiGetRiskScoresRequest) ProbabilityRiskLevelId(probabilityRiskLevelId string) ApiGetRiskScoresRequest {
	r.probabilityRiskLevelId = &probabilityRiskLevelId
	return r
}

// Returns batching metadata in the response. This includes &#x60;total&#x60; as the total quantity, &#x60;next&#x60; as the path of the following query url, &#x60;limit&#x60; and &#x60;after_id&#x60; (if requested) with the next following id (null if it is the last \&quot;page\&quot;).
func (r ApiGetRiskScoresRequest) Metadata(metadata bool) ApiGetRiskScoresRequest {
	r.metadata = &metadata
	return r
}

func (r ApiGetRiskScoresRequest) Execute() (*GetRiskScores200Response, *http.Response, error) {
	return r.ApiService.GetRiskScoresExecute(r)
}

/*
GetRiskScores Get risk score data

This endpoint can retrieve risk score data in bulk from Lifecycle

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetRiskScoresRequest
*/
func (a *RiskScoresAPIService) GetRiskScores(ctx context.Context) ApiGetRiskScoresRequest {
	return ApiGetRiskScoresRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetRiskScores200Response
func (a *RiskScoresAPIService) GetRiskScoresExecute(r ApiGetRiskScoresRequest) (*GetRiskScores200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetRiskScores200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskScoresAPIService.GetRiskScores")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/risk_scores"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "", "")
	}
	if r.objectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "object_id", r.objectId, "", "")
	}
	if r.objectType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "object_type", r.objectType, "", "")
	}
	if r.overallRiskLevelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "overall_risk_level_id", r.overallRiskLevelId, "", "")
	}
	if r.impactRiskLevelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "impact_risk_level_id", r.impactRiskLevelId, "", "")
	}
	if r.probabilityRiskLevelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "probability_risk_level_id", r.probabilityRiskLevelId, "", "")
	}
	if r.metadata != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata", r.metadata, "", "")
	} else {
		var defaultValue bool = false
		r.metadata = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetAttributes400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetAttributes500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
