name: "Build Go SDK"

env:
  SAIL_CLIENT_ID: ${{ secrets.SDK_TEST_TENANT_CLIENT_ID }}
  SAIL_CLIENT_SECRET: ${{ secrets.SDK_TEST_TENANT_CLIENT_SECRET }}
  SAIL_BASE_URL: ${{ secrets.SDK_TEST_TENANT_BASE_URL }}

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_typescript_sdk:
    name: Build go SDK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      - name: Checkout API Specs Repo
        uses: actions/checkout@v3
        with:
          repository: sailpoint-oss/api-specs
          path: api-specs
          ref: main

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Run Prescript
        id: prescript
        run: |
          node sdk-resources/prescript.js api-specs/idn

      - name: Build V3 SDK
        id: buildV3
        if: steps.prescript.outcome == 'success'
        run: |
          rm -rf ./api_v3
          java -jar openapi-generator-cli.jar generate -i api-specs/idn/sailpoint-api.v3.yaml -g go -o api_v3 --global-property skipFormModel=false --config sdk-resources/v3-config.yaml
          node sdk-resources/postscript.js ./api_v3

      - name: Build Beta SDK
        id: buildBeta
        if: steps.buildV3.outcome == 'success'
        run: |
          rm -rf ./api_beta
          java -jar openapi-generator-cli.jar generate -i api-specs/idn/sailpoint-api.beta.yaml -g go -o api_beta --global-property skipFormModel=false --config sdk-resources/beta-config.yaml
          node sdk-resources/postscript.js ./api_beta
      
      - name: Build V2024 SDK
        id: buildV2024
        if: steps.buildBeta.outcome == 'success'
        run: |
          rm -rf ./api_v2024
          java -jar openapi-generator-cli.jar generate -i api-specs/idn/sailpoint-api.v2024.yaml -g go -o api_v2024 --global-property skipFormModel=false --config sdk-resources/v2024-config.yaml
          node sdk-resources/postscript.js ./api_v2024

      - name: After SDK Build
        if: steps.buildV2024.outcome == 'success'
        run: |
          go get -d ./...
          go install
          go test
