name: "Build Go SDK"

env:
  SAIL_CLIENT_ID: ${{ secrets.SDK_TEST_TENANT_CLIENT_ID }}
  SAIL_CLIENT_SECRET: ${{ secrets.SDK_TEST_TENANT_CLIENT_SECRET }}
  SAIL_BASE_URL: ${{ secrets.SDK_TEST_TENANT_BASE_URL }}

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: pr-build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_go_sdk:
    name: Build Go SDK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Checkout API Specs
        uses: actions/checkout@v6
        with:
          repository: sailpoint-oss/api-specs
          path: api-specs
          ref: main

      - name: Build SDK
        uses: ./.github/actions/build-sdk
